/* Navbar.css */
.navbar__container {
    background-color: white;
}

.navbar__top-bar {
    height: 20px;
}

.navbar__bottom-bar {
    height: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
}

.navbar__logo svg {
    width: 80px;
    height: auto;
}

.navbar__search input {
    width: 700px;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    background-color: #e7ecf4;
    font-size: 14px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 20px;  /* Add spacing between menu items */
}

.navbar__menu a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
}

.navbar__profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
